[Unit]
Description=pow.coa network listener master
Documentation=https://pow.co
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bsv-spv-powco
ExecStart=/usr/bin/node master.js 
Restart=on-failure

[Install]
WantedBy=multi-user.target
